@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --primary: #1b3c53;
  --secondary: #456882;
  --background: #d2c1b6;
  --tertiary: #f9f3ef;
  --highlight: #e8b923;

  --font-primary: "Inter", sans-serif;
  --font-secondary: "DM Serif Display", serif;
}

body {
  font-family: var(--font-primary);
  background-color: var(--background);
  color: var(--primary);
}

/*change hero heading color for readability against glassomorphic background*/
.hero-heading {
  font-family: var(--font-secondary);
  color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  color: var(--secondary);
}

/*navbar*/

#navbar {
  background-color: var(--primary);
}

#navbar .nav-link {
  font-family: var(--font-primary);
  color: var(--tertiary);
  font-weight: 500;
}

#navbar .nav-link:hover {
  color: var(--highlight);
}

#navbar .offcanvas-header {
  background-color: var(--primary);
  font-family: var(--font-secondary);
  color: var(--tertiary);
  font: var(--font-secondary);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

#navbar .offcanvas-title {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: var(--highlight);
}

#navbar .offcanvas-body {
  background-color: var(--primary);
}

.navbar-brand img {
  width: 198px;  
  height: 49px;  
  
}

.navbar-nav .nav-link.active {
  text-decoration: underline;
  text-decoration-color: var(--highlight);
  text-decoration-thickness: 3px;
}

/*buttons*/
/*buttons styles for buttons on primary navy background*/
.custom-btn {
  font-family: var(--font-secondary);
  background-color: var(--highlight);
  color: var(--primary);
  border: 2px solid var(--highlight);
  font-weight: 500;
  letter-spacing: 0.05rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.24);
  transition: 0.3s;
}

.custom-btn:hover {
  background-color: var(--highlight);
  color: var(--secondary);
  border: 2px solid var(--highlight);

  transform: translateY(-2px);
  font-weight: bolder;
}

/*styles for button in main of page*/
.custom-btn-main {
  font-family: var(--font-secondary);
  background-color: var(--primary);
  color: var(--highlight);
  border: 2px solid var(--primary);
  font-weight: 500;
  letter-spacing: 0.05rem;

  transition: 0.3s;
}

.custom-btn-main:hover {
  background-color: var(--primary);
  color: var(--highlight);
  border: 2px solid var(--secondary);
  transform: translateY(-2px);
  font-weight: bolder;
}

/*hide navbar enquire now button on mobile screens*/
#enquire-now-btn {
  display: none;
}

/*style for sticky cta button mobile screen*/
.sticky-cta {
  display: inline;
  position: fixed;
  bottom: 54px;
  right: 42px;
  z-index: 1000;
  width: 140px;
  height: 60px;
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  background-color: var(--highlight);
  color: var(--primary);
  border: 3px solid var(--primary);
  border-radius: 25px;
  padding-top: 12px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-decoration: none;
}

/*header*/
#carouselHero .carousel-item {
  /*set dimensions of carousel item hero image*/
  width: 100%;
  height: 75vh;
}

.hero-img {
  /* Ensure hero image fill the carousel item container*/
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* creates glass box and background for hero-image carousel captions.*/
.carousel-caption {
  /* Styles for glassmorphic background*/
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  color: var(--primary);
  font-weight: 700;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;

  /* set dimensions of caption box. Flex column to center content*/
  max-width: 800px;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*centre the caption box against the background hero image*/
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/*change text of caption p elements to ivory and add text shadow for readability*/
.carousel-caption p {
  color: var(--tertiary);
  text-shadow: 3px 3px 12px rgba(0, 0, 0, 1);
}

/*set dimensions of LifeSciScience Academy logo on first carousle item image and center it*/
#hero-image-logo {
  max-width: 800px;
  height: fit-content;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* style to emphasize the availability of funding places on courses*/
.text-gold {
  border: 1px solid var(--highlight);
  background-color: var(--highlight);
  color: var(--primary);
  font-weight: bold;
  padding: 0 2px;
  text-shadow: none !important; /*remove text shadow added by carousel captios class*/
}

/*main*/
.content-padding {
  margin-top: 3rem;
  padding-top: 1.5rem;
}

/*style for main content boxes*/
.main-content {
  background-color: var(--tertiary);
  border: 1px solid rgba(232, 185, 35, 0.25);
  border-radius: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.24);
}
/* Home Page*/
#courses-home .card {
  margin-bottom: 2rem;
  font-family: var(--font-secondary);
  color: var(--secondary);
  border: 0;
}
/*style card body background to match site color scheme*/
#courses-home .card-body {
  background-color: var(--tertiary);
  min-height: 54px;
}
/*style card images to have rounded corners*/
.card .card-img-top {
  border-radius: 1rem;
}
/*style the events table on home page to match site color scheme by overriding bootstrap variables*/
#events-home .table {
  --bs-table-bg: var(--tertiary);
  --bs-table-color: var(--primary);
  --bs-table-border-color: rgba(232, 185, 35, 0.25);
}
#testimonials {
  padding: 2rem;
 
  
}
#testimonials video {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
}

/* Courses Page*/

#course-tabs .nav-pills {
  background-color: var(--secondary);
  --bs-nav-link-color: var(--tertiary) !important;
  border-radius: 1rem;
  padding: 0.25rem;
}

/*Style the active pill*/
#course-tabs .nav-pills .nav-link.active {
  background-color: var(--highlight);
  color: var(--primary);
  border-radius: 0.75rem;
  font-weight: bold;
}

/* selector uses not psuedo class to change the text color of the not active tab pills*/
#course-tabs .nav-link:not(.active):hover {
  color: var(--highlight);
}

/*events page*/
/*customise accordion to match site color scheme by overriding bootstrap variables*/
#event-accordion {
  --bs-accordion-bg: var(--tertiary);
  --bs-accordion-btn-bg: var(--secondary);
  --bs-accordion-btn-color: var(--tertiary);
  --bs-accordion-color: var(--primary);
  --bs-accordion-border-color: var(--highlight) b;
}
/*styles for accordion item when expanded*/
.accordion-item {
  --bs-accordion-bg: var(--tertiary);
  --bs-accordion-color: var(--primary);
  --bs-body-font-family: var(--font-primary);
}

/* style for accordion button when expanded */
.accordion-button:not(.collapsed) {
  background-color: var(--highlight);
  color: var(--primary);
  font-weight: bold;
}

/*Footer*/
#footer {
  background-color: var(--primary);
  color: var(--tertiary);
  font-family: var(--font-primary);
  padding-bottom: 1rem;
}

.footer-headings {
  color: var(--highlight);
}

#footer i {
  color: var(--highlight);
  margin-right: 8px;
}

.anchor {
  text-decoration: none;
  font-family: var(--font-primary);
  color: var(--tertiary);
}

#footer .social-links {
  font-size: 2rem;
}

/* media queries*/

/*Above 768px, these styles apply*/
@media screen and (min-width: 768px) {
  #enquire-now-btn {
    display: block;
  }

  .sticky-cta {
    display: none;
  }
}
/*below 768px, these styles apply*/
@media screen and (max-width: 768px) {
  .carousel-caption {
    max-width: 90%;
  }

  #hero-image-logo {
    max-width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .carousel-caption {
    height: 80%;
  }

  .custom-btn {
    font-weight: 400;
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  .carousel-caption {
    height: 90%;
  }
}
