@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

:root {
  --primary: #1b3c53;
  --secondary: #456882;
  --background: #d2c1b6;
  --tertiary: #f9f3ef;
  --highlight: #e8b923;

  --font-primary: "Inter", sans-serif;
  --font-secondary: "DM Serif Display", serif;
}

body {
  font-family: var(--font-primary);
  background-color: var(--background);
  color: var(--primary);
}

h1{
  color: var(--primary);
  font-family: var(--font-secondary);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  color: var(--secondary);
}

/*navbar*/

#navbar {
  background-color: var(--primary);
}

#navbar .nav-link {
  font-family: var(--font-primary);
  color: var(--tertiary);
  font-weight: 500;
}

#navbar .nav-link:hover {
  color: var(--secondary);
}

#navbar .offcanvas-header {
  background-color: var(--primary);
  font-family: var(--font-secondary);
  color: var(--tertiary);
  font: var(--font-secondary);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

#navbar .offcanvas-title {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: var(--highlight);
}

#navbar .offcanvas-body {
  background-color: var(--primary);
}

#navbar img {
  height: 48px;
}

.navbar-nav .nav-link.active {
  text-decoration: underline;
  text-decoration-color: var(--highlight);
  text-decoration-thickness: 3px;


}

/*buttons*/
.custom-btn {
  font-family: var(--font-secondary);
  background-color: var(--highlight);
  color: var(--primary);
  border: 2px solid var(--highlight);
  font-weight: 500;
  letter-spacing: 0.05rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.24);
  transition: 0.3s;
}

.custom-btn:hover {
  background-color: var(--highlight);
  color: var(--secondary);
  border: 2px solid var(--highlight);

  transform: translateY(-2px);
  font-weight: bolder;
}

.custom-btn-main {
  font-family: var(--font-secondary);
  background-color: var(--secondary);
  color: var(--highlight);
  border: 2px solid var(--secondary);
  font-weight: 500;
  letter-spacing: 0.05rem;

  transition: 0.3s;
}

.custom-btn-main:hover {
  background-color: var(--tertiary);
  color: var(--secondary);
  border: 2px solid var(--secondary);


}

#enquire-now-btn {
  display: none;
}

.sticky-cta {
  display: inline;
  position: fixed;
  bottom: 54px;
  right: 42px;
  z-index: 1000;

  width: 140px;
  height: 60px;
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  background-color: var(--highlight);
  color: var(--primary);
  border: 3px solid var(--primary);
  border-radius: 25px;
  padding-top: 12px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-decoration: none;
}
/*header*/
.carousel-item{
  width: 100%;
  height: 60vh;
  
  
}

.hero-img{
  
  height: 100%;
  width: 100% ;
  object-fit: cover;
}

.carousel-caption {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px); 
  color: var(--primary);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  
  width: 400px;
  height: fit-content;
  text-align: center;

  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.carousel-caption p{
  color:var(--tertiary);
  text-shadow: 3px 3px 12px rgba(0,0,0,1);
}

/*main*/
.content-padding {
  margin-top: 3rem;
  padding-top: 1.5rem;
}

#courses-home{
  background-color: var(--tertiary);
  border: 1px solid rgba(232, 185, 35, 0.25);
  border-radius: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.24);
}

#courses-home .card {
  margin-bottom: 2rem;
  font-family: var(--font-secondary);
  color: var(--secondary);
  border: 0;
  
}

#courses-home .card-body {
  background-color: var(--tertiary);
  min-height: 54px;
}

.card .card-img-top{
  border-radius: 1rem;

}

/*Footer*/
#footer {
  background-color: var(--primary);
  color: var(--tertiary);
  font-family: var(--font-primary);
  padding-bottom: 1rem;
}

.footer-headings {
  color: var(--background);
}

#footer i {
  color: var(--highlight);
  margin-right: 8px;
}

.anchor {
  text-decoration: none;
  font-family: var(--font-primary);
  color: var(--tertiary);
}

#footer .social-links {
  font-size: 2rem;
}

/* grid visualisation CSS for testing

.container,
.row {
    border: 2px solid black;
}

.col-12,
.col-8,
.col-6,
.col-xl {
    border: 2px solid white;
    background-color: lightgray;
}  */

/* media queries*/
@media screen and (min-width: 768px) {
  #enquire-now-btn {
    display: block;
  }

  .sticky-cta {
    display: none;
  }
}

/* @media screen and (min-width: 1200px) {

  #courses-home .card-body{
    min-height: 79px;
  }
} */