@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

:root {
    --primary: #1B3C53;
    --secondary: #456882;
    --background: #D2C1B6;
    --tertiary: #F9F3EF;
  


    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Playfair', serif;
}

body {
    font-family: var(--font-primary);
    background-color: var(--background);
    color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-secondary);

}

/*navbar*/

#navbar {
    background-color: var(--primary);

}

#navbar .nav-link {
    font-family: var(--font-primary);
    color: white;
    font-weight: 500;
}
#navbar .nav-link:hover{
    color: var(--secondary);
}

#navbar .offcanvas-header {
    background-color: var(--primary);
    font-family: var(--font-secondary);
    color:white;
    font: var(--font-secondary);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
#navbar .offcanvas-title{
    font-size: 1.1rem;
    text-transform: uppercase;
}

#navbar .offcanvas-body {
    background-color: var(--primary);

}

.custom-btn {
    background-color: var(--tertiary);
    color: var(--primary);
    border: 2px solid var(--secondary);

}


.custom-btn:hover{
    background-color: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--secondary);
    transition: 0.3s;

    
}

#enquire-now-btn {
    display: none;
}

/*main*/
.content-padding{
    padding-top: 5.52rem;
}
/*Footer*/
footer{
    background-color: var(--primary);
}

/* grid visualisation CSS for testing

.container,
.row {
    border: 2px solid black;
}

.col-12,
.col-8,
.col-6,
.col-xl {
    border: 2px solid white;
    background-color: lightgray;
} */

/* media queries*/
@media screen and (min-width: 992px) {

    #enquire-now-btn {
        display: block;
    }

}